@using WorkPoint.Models.Entities
@model IEnumerable<SpecialityRecommendation>
@{
    ViewData["Title"] = "Recommendations";
}

<div id="spec" class="main_head">
    <div class="txt">
        <div>
            <div class="row">
                <div class="col"><div class="mhd">Work</div></div>
                <div class="col"><div class="mhd"><div class="eclipse"></div></div></div>
                <div class="col"><div class="mhd">Point</div></div>
            </div>
            Твоя точка відліку
        </div>
    </div>
    <div class="txt" style="margin-top: 50px">
        @if (Model.Any())
        {
            <p>Найбільш підходящі вакансії для вас:</p>
        }
        else
        {
            <p>Для вас немає підходящих спеціальностей. <br> Рекомендується здобувати більше навичок.</p>
        }

        @for (int i = 0; i < Model.Count(); ++i)
        {
            <div type="button" class="mar" v-on:click="showModal@(i) = true">
                <p>@(i + 1). @Model.ElementAt(i).Speciality.Name - @((int)(Model.ElementAt(i).SimilarityRatio * 100))%</p>
            </div>
            <modal v-if="showModal@(i)" v-on:close="showModal@(i) = false">
                <h3 slot="header">@Model.ElementAt(i).Speciality.Name</h3>
                <div slot="body">
                    <div class="scrolls">
                        @foreach (var skill in Model.ElementAt(i).SkillsWithUserStatus)
                        {
                            <div class="row" style="height: 70px;">
                                @if (@skill.Value)
                                {
                                    <div class="col-2">
                                        <div class="rect6">
                                            <div class="line1"></div>
                                            <div class="line2"></div>
                                        </div>
                                    </div>
                                } 
                                else
                                {
                                    <div class="col-2">
                                        <div class="rect6">
                                            <div class="line3"></div>
                                            <div class="line4"></div>
                                        </div>
                                    </div>
                                }
                                <div class="col-9">
                                    @skill.Key
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </modal>
        }
    </div>
</div>

